@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap'); */

/* globals.css */

body {
  background: #0d0f14;
  color: white;
}

.no-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out forwards;
}

.animate-fade-out {
  animation: fade-out 0.2s ease-in forwards;
}

@keyframes spin-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes spin-anticlockwise {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.spin-clockwise {
  animation: spin-clockwise 0.3s ease forwards;
}

.spin-anticlockwise {
  animation: spin-anticlockwise 0.3s ease forwards;
}
