@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap'); */

/* globals.css */

body {
  background: #161b26;
  color: white;
}

.no-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: hidden;
}
